@use '../../Styles/variable' as *;

/* Styles for the main Accounts Dashboard container */
.accounts-dashboard {
  display: flex;
  width: 100vw;
  max-width: 100%;
  flex-direction: column; 
  height: 100%;
  gap: 1.5rem;
}

/* Styles for the top bar */
.top-bar {
  display: flex;
  align-items: center;
  padding: 15px 20px; /* Adjust padding as needed */
  background-color: $primary-white; /* Example background color */
  flex-shrink: 0; /* Prevent the top bar from shrinking */
  gap: 15px; /* Space between items in the top bar */

  h1 {
      margin-right: auto;
      font-size: 28px;
      font-weight: 400;
      color: $primary-black;
      text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
  }

  .year-select{
        padding: 6px;
        border: 1px solid rgba($primary-black,0.5);
        border-radius: 4px;
        background-color: $primary-white;
        color: $primary-black;
        font-size: 12px;
        cursor: pointer;

        &:hover {
            border: 1px solid $primary-blue;
        }
    }

    .action-buttons {
      display: flex;
      gap: 10px;

      .entry-btn ,
      .purchase-btn ,
      .sales-btn {
        background-color: $primary-orange;
        color: $primary-white;
        border: 1px solid $primary-orange;
        padding: 6px 10px;
        border-radius: 4px;
        font-size: 12px;
        cursor: pointer;

        &:hover {
          background-color: $primary-white;
          color: $primary-orange;
          border: 1px solid $primary-orange; 
        }
      }

      .report-btn {
        width: 30px;
        height: 30px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary-blue;
        border-radius: 4px;
        color: $primary-white;
        font-size: 12px;
        cursor: pointer;

        &:hover {
          background-color: $primary-white;
          color: $primary-blue;
          border: 1px solid $primary-blue; 
        }
      }
    }
}

/* Styles for the main content area below the top bar */
.dashboard-content {
    display: grid;
    grid-template-columns: 1.3fr 1.5fr;
    gap: 30px;
  }

  .left-column {
    width: 100%;
    margin-left: 15px;
    background: $primary-white;
    border-radius: 8px;
    padding: 20px;
    border: 2px solid $primary-gray;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      color: $primary-black;

      h2 {
        font-size: 22px;
        font-weight: 500;
      }

      .controls {
        display: flex;
        align-items: center;
        gap: 20px;

       input[type="checkbox"] {
          appearance: none;
          width: 14px;
          height: 14px;
          border: 1.5px solid rgba($primary-blue, 0.3);
          border-radius: 3px;
          margin-right: 8px;
          cursor: pointer;
          position: relative;
          transition: all 0.2s;

          &:hover {
            border-color: $primary-blue;
          }

          &:checked {
            background-color: $primary-blue;
            border-color: $primary-blue;
            
            &::after {
              content: '';
              position: absolute;
              left: 3px;
              top: -1px;
              width: 4px;
              height: 8px;
              border: solid $primary-white;
              border-width: 0 2px 2px 0;
              transform: rotate(45deg);
            }
          }
        }

 .btn-add{
  background-color: $primary-orange;
  color: $primary-white;
  border: 1px solid $primary-orange;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: $primary-white;
    color: $primary-orange;
    border: 1px solid $primary-orange;
  }
 }
      }
    }

    .ledger-list {
      .ledger-item {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        color: $primary-black;
        border-bottom: 1px solid #eee;

        &:hover {
          background: #f5f5f5;
        }

        .name {
          font-size: 14px;
          font-weight: 500;
        }

        .value{
          font-size: 14px;
          font-weight: 500;
        }
      }
    }

    .create-ledger {
      display: block;       // Treat the button as a block-level element
      width: fit-content;   // Ensure its width is determined by its content
      margin-left: auto;    // Apply automatic left margin
      margin-right: auto;
      margin-top: 20px;
      width: 50%;
      background-color: $primary-orange;
  color: $primary-white;
  border: 1px solid $primary-orange;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: $primary-white;
    color: $primary-orange;
    border: 1px solid $primary-orange;
  }
    }
  }

  .right-column {
    margin-right: 15px;
    .favourite-ledgers {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      height: 25%;
      background: white;
      border-radius: 8px;
      padding: 20px;
      margin-bottom: 20px;
      border: 2px solid $primary-gray;
      // box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.3);

      h2 {
        font-size: 22px;
        font-weight: 500;
        color: $primary-black;
      }

      .find-btn {
        border: 1px solid $primary-blue;
        background-color: $primary-blue;
        border-radius: 4px;
        color: $primary-white;
        font-size: 12px;
        cursor: pointer;

        &:hover {
          background-color: $primary-white;
          color: $primary-blue;
          border: 1px solid $primary-blue; 
        }
      }

      .instructions {
        position: absolute;
        top: 80px;
        left: 20px;
        
        p {
          padding: 8px 12px;
          font-size: 12px;
          color: $primary-black;
          background-color: $primary-gray;
          border-radius: 2px;
        }
    }
    }

    .quick-access {
      background: white;
      border-radius: 8px;
      padding: 20px;
      border: 2px  solid $primary-gray;;
      // box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.3);

      h2{
        font-size: 22px;
        font-weight: 500;
        color: $primary-black;
      }

      .button-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        margin-top: 20px;
      }
    }
  }


.btn-blue {
  font-size: 14px;
  background: $primary-blue;
  color: $primary-white;
  border: 1px solid $primary-blue;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;

  &:hover {
  background-color: $primary-white;
  color: $primary-blue;
  border: 1px solid $primary-blue;
  }
}

.btn-green {
  font-size: 14px;
  background: $primary-green;
  color: $primary-white;
  border: 1px solid $primary-green;
  border-radius: 4px;
  padding: 8px 5px;
  cursor: pointer;

  &:hover {
    background-color: $primary-white;
    color: $primary-green;
    border: 1px solid $primary-green;
  }
}