.quote-list-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-controls-list{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        span{
            padding: 8px 10px ;
            background-color: #0B508C;
            color: #fff;
            border-radius: 4px;
        }
        .search-container{
            position: relative;
            background-color: #fff;
            display: flex;
            align-items: center;
            border: 1px solid #0B508C;
            border-radius: 4px;
            .search-icon{
                left: 0;
                position: absolute;
                font-size: 22px;
                color: #0B508C;


            }
            .search-input{
                margin-left: 5px;
                padding: 8px 25px;
                border: none;
                line-height: 0;
                border-radius: 4px;
                &:focus{
                    border: none !important;
                    outline: none !important;
                }
               
            }

            
        }

        button{
               
                border: none;
                outline: none;
                padding: 8px 8px;
                background-color: #d0d3ef;
                border-radius: 4px;
                color: #1f1f1f;

                &:hover{
                    background-color: #1f1f1f;
                    color: #fff;
                }
        }

    }
}

.filters-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    
    .filter{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:10px;
        .patch-btn{
            padding: 8px 8px;
            border-radius: 4px;
            border: 1px solid #C3C89B;
            cursor: pointer;
        }

        select{
            padding: 8px 8px;
            border-radius: 4px;
            border: 1px solid #C3C89B;
            appearance: none;
            cursor: pointer;
            
            &::focus{
                border: 2px solid #ffb545 !important;
            } 
            option:checked {
                background-color: #ffb545; 
                color: #1f1f1f; 
            }
        }

    }

    .add-qutation-btn{
            padding: 8px 15px;
            border-radius: 4px;
            border: 1px solid #C3C89B;
            background-color:#264653;
            color: #fff;
            font-weight: 600;
            &:hover{
                background-color: #ffb545;
                color: #1f1f1f;
            }
    }
}

.table-container{
    width: 100%;
    height: 45vw;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    h1{
        color: #dbdfe0;

    }
}

.footer-buttons{
    margin: 22px 0px;
    display: flex;
    gap: 10px;
    button{
        border: none;
        outline: none;
        background: #0B508C;
        color: #fff;
        padding: 8px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border-radius: 4px;

        &:hover{
            background-color: #ffb545;
            color: #1f1f1f;
        }
    }
}

.bg-orange{
    background-color: #ffb545;
    color: #1f1f1f;
    font-weight: 500;
}


.qutation-create-header{
    display: flex;
    justify-content:space-between;
    .qutation-create-header-buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        button{
            background-color: #0B508C;
            color: #fff;
            padding: 8px 12px;
            border-radius: 4px;
            cursor: pointer;
        }
    }

}

.customer-info-container{
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 22px 10px;
    margin: 25px 0px;
    display: flex;
    justify-content: space-between;
   
     
    .form-container{
        display: flex;       
        flex-direction: column;
        gap: 15px;
        
       
        .form-cust-inputs{
            display: flex;
            align-items: end;
            gap: 10px;
            width: 100%;

            select{
                width: 100%;
            }
           
           
            
           
          
        }
    }

    .search-and-add-customer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        button{
            background-color: #ffb545;
            color: #1f1f1f;
            font-size: 22px;
            font-weight: 600;
            border: none;
            outline: none;
            padding: 4px 13px;
            &:hover{
                background-color: #1f1f1f;
                color: #fff;
            }
        }
    }

}