// Base Colors
$primary-blue: #0a1533;
$primary-black: #040813;
$primary-orange: #d6761c;
$primary-white: #fff;
$primary-gray: #e6e6e6;
$primary-dark-gray: #adadad;
$primary-green: #115f1c;
$primary-red: #8e0000;
