@use '../../Styles/variable' as *;

.reports-container {
  max-width: 100%;
  width: 100vw;
  margin-top: 50px;
  padding: 20px;
  height: auto;
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    h2 {
      font-size: 28px;
      font-weight: 400;
      color: $primary-black;
      text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
    }

    .back-btn {
      display: flex;
      align-items: center;
      gap: 6px;
      padding: 5px 10px;
      background: $primary-blue;
      color: $primary-white;
      border: 1px solid $primary-blue;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
      transition: all 0.2s ease;
      
      &:hover {
        background: $primary-white;
        color: $primary-blue;
        border: 1px solid $primary-blue;
      }
    }
  }

  .reports-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px 20px;
    
    
    .report-card {
      background: $primary-white;
      padding: 0;
      border-radius: 6px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease;
      cursor: pointer;
      border: 1px solid $primary-gray;
      overflow: hidden;

      &:hover {
        transform: translateY(-4px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      .card-header {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 0;
        background: $primary-blue;
        padding: 15px;

        .icon {
          font-size: 20px;
          color: $primary-white;
        }

        h3 {
          font-size: 18px;
          font-weight: 600;
          color: $primary-white;
          margin: 0;
        }
      }

      p {
        padding: 35px 20px;
        color: $primary-black;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.4;
        margin: 0;
        background: $primary-white;
      }
    }
  }
}
