@use '../../Styles/variable.scss' as*;

@keyframes slideDown {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.display-pref-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 1000;
  padding-top: 80px;
}

.display-pref-modal {
  background: $primary-white;
  border-radius: 10px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.18);
  padding: 10px 20px;
  min-width: 440px;
  max-width: 600px;
  width: 100%;
  height: fit-content;
  min-height: 300px;
  font-family: 'Segoe UI', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  animation: slideDown 0.3s ease-out forwards;
}

.display-pref-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  color: $primary-black;
  margin: 0;
  padding-right: 10px;
}

.close-btn {
  padding: 0;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: $primary-black;
  transition: color 0.2s;
}
.close-btn:hover {
  color: $primary-orange;
}

.display-pref-checkboxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px 20px;
  flex: 1;
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 8px;
  cursor: pointer;
  user-select: none;
  color: $primary-black;
}

.checkbox-label input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 14px;
  height: 14px;

  background-color: $primary-white;
  border: 1px solid $primary-blue;
  border-radius: 2px;

  outline: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;

  &:checked {
    background-color: $primary-blue;
    border-color: $primary-blue;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 8'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M1 4l3 3l5-6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px 9px;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px rgba($primary-blue, 0.4);
  }
}

.save-btn {
  background: $primary-blue;
  color: $primary-white;
  border: 1px solid $primary-blue;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s;
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 5px 10px;
  margin-top: -30px;
}
.save-btn:hover {
  background: $primary-white;
  color: $primary-blue;
  border: 1px solid $primary-blue;
}

.save-icon {
  font-size: 12px;
}